@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Wordle</h1>

    <input type="text" maxlength="1" class="Format line1" id="l1b1"> <input type="text" maxlength="1" class="Format line1" id="l1b2"> <input type="text" maxlength="1" class="Format line1" id="l1b3"> <input type="text" maxlength="1" class="Format line1" id="l1b4"> <input type="text" maxlength="1" class="Format line1" id="l1b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line2" id="l2b1"> <input type="text" maxlength="1" class="Format line2" id="l2b2"> <input type="text" maxlength="1" class="Format line2" id="l2b3"> <input type="text" maxlength="1" class="Format line2" id="l2b4"> <input type="text" maxlength="1" class="Format line2" id="l2b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line3" id="l3b1"> <input type="text" maxlength="1" class="Format line3" id="l3b2"> <input type="text" maxlength="1" class="Format line3" id="l3b3"> <input type="text" maxlength="1" class="Format line3" id="l3b4"> <input type="text" maxlength="1" class="Format line3" id="l3b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line4" id="l4b1"> <input type="text" maxlength="1" class="Format line4" id="l4b2"> <input type="text" maxlength="1" class="Format line4" id="l4b3"> <input type="text" maxlength="1" class="Format line4" id="l4b4"> <input type="text" maxlength="1" class="Format line4" id="l4b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line5" id="l5b1"> <input type="text" maxlength="1" class="Format line5" id="l5b2"> <input type="text" maxlength="1" class="Format line5" id="l5b3"> <input type="text" maxlength="1" class="Format line5" id="l5b4"> <input type="text" maxlength="1" class="Format line5" id="l5b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line6" id="l6b1"> <input type="text" maxlength="1" class="Format line6" id="l6b2"> <input type="text" maxlength="1" class="Format line6" id="l6b3"> <input type="text" maxlength="1" class="Format line6" id="l6b4"> <input type="text" maxlength="1" class="Format line6" id="l6b5">
</div>

<br>
<div class="text-center">
    <button onclick="clck('Q')" type='button' class='keyboard' id='Q'>Q</button>
    <button onclick="clck('W')" type='button' class='keyboard' id='W'>W</button>
    <button onclick="clck('E')" type='button' class='keyboard' id='E'>E</button>
    <button onclick="clck('R')" type='button' class='keyboard' id='R'>R</button>
    <button onclick="clck('T')" type='button' class='keyboard' id='T'>T</button>
    <button onclick="clck('Y')" type='button' class='keyboard' id='Y'>Y</button>
    <button onclick="clck('U')" type='button' class='keyboard' id='U'>U</button>
    <button onclick="clck('I')" type='button' class='keyboard' id='I'>I</button>
    <button onclick="clck('O')" type='button' class='keyboard' id='O'>O</button>
    <button onclick="clck('P')" type='button' class='keyboard' id='P'>P</button>
    <br>
    <button onclick="clck('A')" type='button' class='keyboard' id='A'>A</button>
    <button onclick="clck('S')" type='button' class='keyboard' id='S'>S</button>
    <button onclick="clck('D')" type='button' class='keyboard' id='D'>D</button>
    <button onclick="clck('F')" type='button' class='keyboard' id='F'>F</button>
    <button onclick="clck('G')" type='button' class='keyboard' id='G'>G</button>
    <button onclick="clck('H')" type='button' class='keyboard' id='H'>H</button>
    <button onclick="clck('J')" type='button' class='keyboard' id='J'>J</button>
    <button onclick="clck('K')" type='button' class='keyboard' id='K'>K</button>
    <button onclick="clck('L')" type='button' class='keyboard' id='L'>L</button>
    <br>
    <button onclick="clck('Z')" type='button' class='keyboard' id='Z'>Z</button>
    <button onclick="clck('X')" type='button' class='keyboard' id='X'>X</button>
    <button onclick="clck('C')" type='button' class='keyboard' id='C'>C</button>
    <button onclick="clck('V')" type='button' class='keyboard' id='V'>V</button>
    <button onclick="clck('B')" type='button' class='keyboard' id='B'>B</button>
    <button onclick="clck('N')" type='button' class='keyboard' id='N'>N</button>
    <button onclick="clck('M')" type='button' class='keyboard' id='M'>M</button>
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Custom word" maxlength="5" id="inp" onclick="var infocus = true">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Submit</button>
    </div>
</div>

<style>
    .keyboard {
        display: inline-block;
        border-style: solid;
        border-width: 0px;
        border-radius: 5px;
        font-size: 30px;
        font-family: Courier;
        font-weight: 900;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 5px;
        background-color: #d1d1cf;
    }

    h1 {
        font-family: Stencil Std;
        font-weight: 900;
    }

    .Format {
        width: 50px;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 00px;
        padding-right: 00px;
        caret-color: transparent;
        display: inline;
        border: 2px solid rgba(122, 122, 122, 0.45);
        text-align: center;
        font-size: 35px;
        font-family: Arial;
        pointer-events: none;
    }

    input:focus, textarea:focus, select:focus {
        outline: none;
    }
</style>

<script>
    //variables
    var currentB = 1;
    var currentL = 1;
    var word = 'RADIO';

    //fill a box
    document.addEventListener('keyup', (event) => {
        var key = event.key;
        var size = key.length;

        if (size == 1 && key.match(/[A-z]/)) {
            var upper = key.toUpperCase();
            type(upper);
        }

        if (key === 'Backspace') {
            backspace();
        }

        if (key === 'Enter') {
            enter();
        }
    }, false);

    //onscreen keyboard
    function clck(letter) {
        type(letter);
    }

    //type
    function type(letter) {
        if (currentB != 6) {
            var box = document.getElementById(move1()).value = letter;
        }
    }

    function focus() {
        alert('hi');
    }

        //move on type
        function move1() {
            var input = 'l' + currentL + 'b' + currentB;
            currentB++;
            return input;
        }

        //backspace
        function backspace() {
            if (currentB >= 2) {
                currentB -= 1;
                var input = 'l' + currentL + 'b' + currentB;
                var del = document.getElementById(input).value = null;
                return input;
            }
            else {
                return;
            }
        }

        //enter
        function enter() {
            if (currentB == 6 && currentL != 7) {

                var running = 0;
                var runb = document.getElementsByClassName('line' + currentL)[running].value;
                var runa = word[running];
                var correct = 0;

                check();

                function check() {

                    if (running != 5) {
                        var runb = document.getElementsByClassName('line' + currentL)[running].value;
                        var runa = word[running];
                        var runbutton = running + 1;

                        if (runb == runa) {

                            document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = '#6aaa64';
                            document.getElementById(runb).style.backgroundColor = '#6aaa64';
                            correct++;
                            if (correct == 5) {
                                currentL = 10;
                                alert('Good Job');
                            }
                        }

                        else {

                            var let1 = word[0];
                            var let2 = word[1];
                            var let3 = word[2];
                            var let4 = word[3];
                            var let5 = word[4];
                            var letarray = [let1, let2, let3, let4, let5];
                            var guesslet = document.getElementById(runb);

                            if (runb == let1 || runb == let2 || runb == let3 || runb == let4 || runb == let5) {

                                document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = '#c9b459';

                                if (guesslet.style.backgroundColor == 0) {
                                    document.getElementById(runb).style.backgroundColor = '#c9b459';
                                }

                            }
                            else {
                                document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = '#787c7f';
                                document.getElementById(runb).style.backgroundColor = '#787c7f';

                            }

                        }

                        running++;
                        check();
                    }

                    else {
                        finish();
                    }
                }

                function finish() {
                    currentL++;
                    currentB = 1;
                }
            }
        }
</script>