@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="jquery.countchar.js"></script>


<div class="text-center">
    <h1 class="display-4">Wordle</h1>

    <input type="text" maxlength="1" class="Format line1" id="l1b1"> <input type="text" maxlength="1" class="Format line1" id="l1b2"> <input type="text" maxlength="1" class="Format line1" id="l1b3"> <input type="text" maxlength="1" class="Format line1" id="l1b4"> <input type="text" maxlength="1" class="Format line1" id="l1b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line2" id="l2b1"> <input type="text" maxlength="1" class="Format line2" id="l2b2"> <input type="text" maxlength="1" class="Format line2" id="l2b3"> <input type="text" maxlength="1" class="Format line2" id="l2b4"> <input type="text" maxlength="1" class="Format line2" id="l2b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line3" id="l3b1"> <input type="text" maxlength="1" class="Format line3" id="l3b2"> <input type="text" maxlength="1" class="Format line3" id="l3b3"> <input type="text" maxlength="1" class="Format line3" id="l3b4"> <input type="text" maxlength="1" class="Format line3" id="l3b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line4" id="l4b1"> <input type="text" maxlength="1" class="Format line4" id="l4b2"> <input type="text" maxlength="1" class="Format line4" id="l4b3"> <input type="text" maxlength="1" class="Format line4" id="l4b4"> <input type="text" maxlength="1" class="Format line4" id="l4b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line5" id="l5b1"> <input type="text" maxlength="1" class="Format line5" id="l5b2"> <input type="text" maxlength="1" class="Format line5" id="l5b3"> <input type="text" maxlength="1" class="Format line5" id="l5b4"> <input type="text" maxlength="1" class="Format line5" id="l5b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line6" id="l6b1"> <input type="text" maxlength="1" class="Format line6" id="l6b2"> <input type="text" maxlength="1" class="Format line6" id="l6b3"> <input type="text" maxlength="1" class="Format line6" id="l6b4"> <input type="text" maxlength="1" class="Format line6" id="l6b5">

</div>
<style>
    h1 {
        font-family: Stencil Std;
        font-weight: 900;
    }

    .Format {
        width: 50px;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 00px;
        padding-right: 00px;
        caret-color: transparent;
        display: inline;
        border: 2px solid rgba(122, 122, 122, 0.45);
        text-align: center;
        font-size: 35px;
        font-family: Arial;
        pointer-events: none;
    }

    input:focus, textarea:focus, select:focus {
        outline: none;
    }

</style>

<script>
    //variables
    var currentB = 1;
    var currentL = 1;
    var word = 'RADIO';

    //fill a box
    document.addEventListener('keyup', (event) => {
        var key = event.key;
        var size = key.length;

        if (size == 1 && key.match(/[a-z]/)) {
            var upper = key.toUpperCase();
            if (currentB != 6) {
                var box = document.getElementById(move1()).value = upper;
            }
        }

        if (key === 'Backspace') {
            backspace();
        }

        if (key === 'Enter') {
            enter();
        }
    }, false);

    //move on type
    function move1() {
        var input = 'l' + currentL + 'b' + currentB;
        currentB++;
        return input;
    }

    //backspace
    function backspace() {
        if (currentB >= 2) {
            currentB -= 1;
            var input = 'l' + currentL + 'b' + currentB;
            var del = document.getElementById(input).value = null;
            return input;
        }
        else {
            return;
        }
    }

    //enter
    function enter() {
        if (currentB == 6 && currentL != 7) {

            var running = 0;
            var runb = document.getElementsByClassName('line' + currentL)[running].value;
            var runa = word[running];

            check();

            function check() {

                if (running != 5) {
                    var runb = document.getElementsByClassName('line' + currentL)[running].value;
                    var runa = word[running];

                    if (runb == runa) {
                        var runbutton = running + 1;

                        document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = 'green';
                        running++;
                        check();
                    }
                    else {
                        otherletter();
                        var runbutton = running + 1;
                        document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = 'gray';
                        running++;
                        check();
                    }
                }
                else {
                    finish();
                }
            }

            function otherletter() {
                alert('ran');
            }

            function finish() {
                currentL++;
                currentB = 1;
            }

        }
    }


</script>