@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Wordle</h1>

    <input type="text" maxlength="1" class="Format line1" id="l1b1"> <input type="text" maxlength="1" class="Format line1" id="l1b2"> <input type="text" maxlength="1" class="Format line1" id="l1b3"> <input type="text" maxlength="1" class="Format line1" id="l1b4"> <input type="text" maxlength="1" class="Format line1" id="l1b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line2" id="l2b1"> <input type="text" maxlength="1" class="Format line2" id="l2b2"> <input type="text" maxlength="1" class="Format line2" id="l2b3"> <input type="text" maxlength="1" class="Format line2" id="l2b4"> <input type="text" maxlength="1" class="Format line2" id="l2b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line3" id="l3b1"> <input type="text" maxlength="1" class="Format line3" id="l3b2"> <input type="text" maxlength="1" class="Format line3" id="l3b3"> <input type="text" maxlength="1" class="Format line3" id="l3b4"> <input type="text" maxlength="1" class="Format line3" id="l3b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line4" id="l4b1"> <input type="text" maxlength="1" class="Format line4" id="l4b2"> <input type="text" maxlength="1" class="Format line4" id="l4b3"> <input type="text" maxlength="1" class="Format line4" id="l4b4"> <input type="text" maxlength="1" class="Format line4" id="l4b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line5" id="l5b1"> <input type="text" maxlength="1" class="Format line5" id="l5b2"> <input type="text" maxlength="1" class="Format line5" id="l5b3"> <input type="text" maxlength="1" class="Format line5" id="l5b4"> <input type="text" maxlength="1" class="Format line5" id="l5b5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line6" id="l6b1"> <input type="text" maxlength="1" class="Format line6" id="l6b2"> <input type="text" maxlength="1" class="Format line6" id="l6b3"> <input type="text" maxlength="1" class="Format line6" id="l6b4"> <input type="text" maxlength="1" class="Format line6" id="l6b5">
    </div>

    <br>
    <div class="text-center">
        <button type='button' class='keyboard' id='Q'>Q</button>
        <button type='button' class='keyboard' id='W'>W</button>
        <button type='button' class='keyboard' id='E'>E</button>
        <button type='button' class='keyboard' id='R'>R</button>
        <button type='button' class='keyboard' id='T'>T</button>
        <button type='button' class='keyboard' id='Y'>Y</button>
        <button type='button' class='keyboard' id='U'>U</button>
        <button type='button' class='keyboard' id='I'>I</button>
        <button type='button' class='keyboard' id='O'>O</button>
        <button type='button' class='keyboard' id='P'>P</button>
        <br>
        <button type='button' class='keyboard' id='A'>A</button>
        <button type='button' class='keyboard' id='S'>S</button>
        <button type='button' class='keyboard' id='D'>D</button>
        <button type='button' class='keyboard' id='F'>F</button>
        <button type='button' class='keyboard' id='G'>G</button>
        <button type='button' class='keyboard' id='H'>H</button>
        <button type='button' class='keyboard' id='J'>J</button>
        <button type='button' class='keyboard' id='K'>K</button>
        <button type='button' class='keyboard' id='L'>L</button>
        <br>
        <button type='button' class='keyboard' id='Z'>Z</button>
        <button type='button' class='keyboard' id='X'>X</button>
        <button type='button' class='keyboard' id='C'>C</button>
        <button type='button' class='keyboard' id='V'>V</button>
        <button type='button' class='keyboard' id='B'>B</button>
        <button type='button' class='keyboard' id='N'>N</button>
        <button type='button' class='keyboard' id='M'>M</button>
        </div>



@*    <div style = "position:fixed; right:80px; center:0px;">
        <input type='text' maxlength='5'>
    </div>*@

<style>
    .keyboard {
    display: inline-block;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    font-size: 30px;
    font-family: Courier;
    font-weight: 900;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    background-color: #d1d1cf;
}

    h1 {
        font-family: Stencil Std;
        font-weight: 900;
    }

    .Format {
        width: 50px;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 00px;
        padding-right: 00px;
        caret-color: transparent;
        display: inline;
        border: 2px solid rgba(122, 122, 122, 0.45);
        text-align: center;
        font-size: 35px;
        font-family: Arial;
        pointer-events: none;
    }

    input:focus, textarea:focus, select:focus {
        outline: none;
    }
</style>

<script>
    //variables
    var currentB = 1;
    var currentL = 1;
    var word = 'RADIO';

    //fill a box
    document.addEventListener('keyup', (event) => {
        var key = event.key;
        var size = key.length;

        if (size == 1 && key.match(/[A-z]/)) {
            var upper = key.toUpperCase();
            if (currentB != 6) {
                var box = document.getElementById(move1()).value = upper;
            }
        }

        if (key === 'Backspace') {
            backspace();
        }

        if (key === 'Enter') {
            enter();
        }
    }, false);

    //onscreen keyboard
    function click() {
        alert('hi');
    }

    //move on type
    function move1() {
        var input = 'l' + currentL + 'b' + currentB;
        currentB++;
        return input;
    }

    //backspace
    function backspace() {
        if (currentB >= 2) {
            currentB -= 1;
            var input = 'l' + currentL + 'b' + currentB;
            var del = document.getElementById(input).value = null;
            return input;
        }
        else {
            return;
        }
    }

    //enter
    function enter() {
        if (currentB == 6 && currentL != 7) {

            var running = 0;
            var runb = document.getElementsByClassName('line' + currentL)[running].value;
            var runa = word[running];

            check();

            function check() {

                if (running != 5) {
                    var runb = document.getElementsByClassName('line' + currentL)[running].value;
                    var runa = word[running];
                    var runbutton = running + 1;

                    if (runb == runa) {

                      document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = '#6aaa64';
                      document.getElementById(runb).style.backgroundColor = '#6aaa64';

                    }

                    else {

                        var let1 = word[0];
                        var let2 = word[1];
                        var let3 = word[2];
                        var let4 = word[3];
                        var let5 = word[4];
                        var letarray = [let1, let2, let3, let4, let5];
                        var guesslet = document.getElementById(runb);

                        if (runb == let1 || runb == let2 || runb == let3 || runb == let4 || runb == let5) {

                            document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = '#c9b459';

                            if (guesslet.style.backgroundColor == 0){
                            document.getElementById(runb).style.backgroundColor = '#c9b459';
                            }

                        }
                        else {
                            document.getElementById('l' + currentL + 'b' + runbutton).style.backgroundColor = '#787c7f';
                            document.getElementById(runb).style.backgroundColor = '#787c7f';

                        }

                    }

                    running++;
                    check();
                }

                else {
                    finish();
                }
            }



            function finish() {
                currentL++;
                currentB = 1;
            }

        }
    }


</script>