@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Wordle</h1>

    <input type="text" maxlength="1" class="Format line1"> <input type="text" maxlength="1" class="Format line1"> <input type="text" maxlength="1" class="Format line1"> <input type="text" maxlength="1" class="Format line1"> <input type="text" maxlength="1" class="Format line1">
    <p> </p>
    <input type="text" maxlength="1" class="Format line2"> <input type="text" maxlength="1" class="Format line2"> <input type="text" maxlength="1" class="Format line2"> <input type="text" maxlength="1" class="Format line2"> <input type="text" maxlength="1" class="Format line2">
    <p> </p>
    <input type="text" maxlength="1" class="Format line3"> <input type="text" maxlength="1" class="Format line3"> <input type="text" maxlength="1" class="Format line3"> <input type="text" maxlength="1" class="Format line3"> <input type="text" maxlength="1" class="Format line3">
    <p> </p>
    <input type="text" maxlength="1" class="Format line4"> <input type="text" maxlength="1" class="Format line4"> <input type="text" maxlength="1" class="Format line4"> <input type="text" maxlength="1" class="Format line4"> <input type="text" maxlength="1" class="Format line4">
    <p> </p>
    <input type="text" maxlength="1" class="Format line5"> <input type="text" maxlength="1" class="Format line5"> <input type="text" maxlength="1" class="Format line5"> <input type="text" maxlength="1" class="Format line5"> <input type="text" maxlength="1" class="Format line5">
    <p> </p>
    <input type="text" maxlength="1" class="Format line6"> <input type="text" maxlength="1" class="Format line6"> <input type="text" maxlength="1" class="Format line6"> <input type="text" maxlength="1" class="Format line6"> <input type="text" maxlength="1" class="Format line6">

</div>
<style>
    h1 {
        font-family: Stencil Std;
        font-weight: 900;
    }
    .Format {
        width: 50px;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        caret-color: transparent;
        display: inline;
        border: 2px solid rgba(122, 122, 122, 0.45); 
        text-align: center;
        font-size: 35px;
        font-family: Arial;
    }

</style>

